APP_ENV="live"

#필요시 변경 해주세요 
APP_NAME="Anaki"

#*필수* 추가해주세요 컨테이너 명령어  php artisan key:generate
APP_KEY=""

APP_DEBUG="false"

#필요시 변경 해주세요 
APP_URL="https://anakip2p.com"

APP_MODE="live"

LOG_CHANNEL="daily"

LOG_DEPRECATIONS_CHANNEL="null"

LOG_LEVEL="debug"

DB_CONNECTION="mysql"
#*필수* 추가해주세요
DB_HOST=""
DB_PORT="3306"
DB_DATABASE="anaki"
DB_USERNAME="anaki_user"
DB_PASSWORD="Anaki1234@@"

BROADCAST_DRIVER="pusher"

CACHE_DRIVER="file"

FILESYSTEM_DISK="local"

QUEUE_CONNECTION="sync"

SESSION_DRIVER="file"

SESSION_LIFETIME="120"

#현재 레디스는 사용하지 않고 있습니다 필요시 변경해주세요
REDIS_HOST="anaki_backend"
REDIS_PASSWORD="null"
REDIS_PORT="6379"

# *필수* 추가해주세요
#config/mail.php에 해당 내용이 있습니다 smtp 관련 내용을 넣어주세요
#다른 smtp를 사용하시는거라면 env와 config/mail.php 도 변경 부탁드립니다. 
MAIL_MAILER="smtp"
MAIL_MAILER=""
MAIL_HOST=""
MAIL_PORT=""
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_ENCRYPTION=""
MAIL_FROM_ADDRESS=""
MAIL_FROM_NAME=""

# pusher 어를 가입 하신 후 해당 빈칸 내역을 *필수*로 채워주세요
PUSHER_APP_ID=""
PUSHER_APP_KEY=""
PUSHER_APP_SECRET=""
PUSHER_PORT="443"
PUSHER_SCHEME="https"
PUSHER_APP_CLUSTER="ap1"


# 구글 api키를 발급 받아 아래 빈칸을 *필수*로 채워주세요
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET="" 
GOOGLE_REDIRECT_URI="https://anakip2p.com/api/v1/user/login/google/callback"

# *필수*로 채워주세요
# 몽고 DB에 데이터베이스 명을 테더 스마트컨트렉트명을 그대로 사용하고 있어서 
# TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t 로 되어 있습니다.
MONGO_DB_HOST="anaki_backend"
MONGO_DB_DATABASE="TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t"

TRON_NETWORK=mainnet
#TRON_NETWORK=shasta

APP_TIMEZONE=Asia/Seoul  

# 코인 마켓캡에서 API키를 발급받아 *필수*로 입력해주세요
COIN_MARKET_CAP_API_KEY=""
COIN_MARKET_CAP_API_URL="https://pro-api.coinmarketcap.com/v1/cryptocurrency/quotes/latest"

# *필수* 로 채워주세요
# 이건 코인 서버 컨테이너 호출 API 주소로 그대로 두시면 됩니다
SEND_TETHER_API_URL="http://anaki_backend:3760/sendTether"
SYNC_WALLET_API_URL="http://anaki_backend:3760/sync-transactions"
GET_TETHER_BALANCE_API_URL="http://anaki_backend:3760/getBalance"

# *필수*로 채워주세요
# 마스터 월렛 -> 유저들의 테더를 관리할 메인 지갑으로 적어주시고
# 서비스에서 외부 지갑 전송을 사용하면 메인 지갑에서 외부전송이 발생합니다
MASTER_WALLET_ADDRESS="" 
MASTER_WALLET_PRIVATEKEY=""

# *필수*로 채워주세요
# KYC 는 추후 변경 예정이라 테스트 계정 그대로 달아 두겠습니다.
KYC_CUSTOMER_ID='158'
KYC_ID='5HCr46rRGu'
KYC_KEY='Ru4Jg%j6kBMxJS5'

